
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;

}

header {
    flex-basis: 120px;
    background-color: orange;
}

nav {
    padding: 20px;
    box-sizing: border-box;
    background-color: dodgerblue;
}

nav > ul > li {
    display: inline-block;
}

main {
    max-width: 1200px;
    align-self: center;
    flex: 1;
    background-color: red;
    color: white;
}


footer {
    flex-basis: 200px;
    background-color: darkviolet;
}
